[Desktop Entry]
Type=Application
Name=EWAF
Comment=Every Week a Folder
Exec=ewaf
Icon=com.tlolabs.ewaf
Terminal=false
Categories=Utility;FileTools;
StartupNotify=true
